body{
    margin:0;
}
.main-container{
    width: 80%;
    margin:0;
    padding:0;
    margin: 100px auto;
}
.left-card{
    background-color: hsl(31, 77%, 52%);
    float: left;
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    width: 28%;
    padding: 10px;
    height: 400px;
}
.card-contents{
    padding-left: 30px;
    margin-top:30px;
    
}
.middle-card{
    background-color: hsl(184, 100%, 22%);
    float: left;
    width: 28%;
    padding: 10px;
    height: 400px;
}
.right-card{
    background-color:hsl(179, 100%, 13%);
    float: left;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    width: 28%;
    padding: 10px;
    height: 400px;
}
h1{
    color: hsl(0, 0%, 95%);
    font-family: 'Big Shoulders Display', cursive;
}
p{
    color: hsla(0, 0%, 100%, 0.75);
    margin-top:20px;
    font-family: 'Lexend Deca', sans-serif;
    margin-right: 30px;
    line-height:1.8;
    font-size: 15px;
}
button{
    background-color:white;
    border: 2px solid white;
    border-radius: 18px;
    text-align: center;
    padding:8px;
    position:relative;
    width: 50%;
    font-family: 'Lexend Deca', sans-serif;
    margin: 50px 20px;
    cursor: pointer;
    bottom:20px;
}
.left-btn{
    color: hsl(31, 77%, 52%);
}
.middle-btn{
    color: hsl(184, 100%, 22%);
}
.right-btn{
    color: hsl(179, 100%, 13%);
}
button:hover{
    background: transparent;
    color:white;
}
.attribution{
    font-size:11px;
    position:absolute;
    display: inline;
    bottom: 0;
    right: 50px;
}